// Color Variables
$primary-color   : #2FB783;
$white-color     : #fff;
$dark-gray-color : #333;
$light-gray-color: #777;
$alabaster-color : #F7F7F7;


// Text Variables
$font-small: 16px;
$font-meduim: 18px;
$font-large: 22px;
$font-xlarge: 30px;